*/.preprocessed/
*/bin/
*/deliverables/
.metadata
.DS_Store
/5674fd37.tmp/
*/build/
*/output/
/BSonDemo/
/ExampleJAR/
/PreprocessorDemo/
/SmsDemo/
/MMSDemo/
/TestMMS/
/TestSMS/
/SqliteDemo/
/SimplyHooker/
/build/
/output/
